@import "tailwindcss";

@theme {
    --color-primary: #ff6600;
    --color-dark-bg: #0F0F11;
    --color-card-bg: #1A1A1E;
}

body {
    background-color: var(--color-dark-bg);
    color: white;
    font-family: 'Inter', sans-serif;
}
